In [29]:
#Importing Dependencies
import pandas as pd
import requests 
import json
from config import api_key
from pprint import pprint
import numpy as np

In [30]:
#URL
#http://api.steampowered.com/ISteamUserStats/GetNumberOfCurrentPlayers/v0001/?appid=570

interface = "ISteamUserStats"
method = "GetNumberOfCurrentPlayers"
version = "0001"
game_id = "570"
url = f"http://api.steampowered.com/{interface}/{method}/v{version}?appid={game_id}/?key={api_key}&format=json"
print(url)

http://api.steampowered.com/ISteamUserStats/GetNumberOfCurrentPlayers/v0001?appid=570/?key=B04A9621023DB59E37CFDC6F55F13053&format=json

In [31]:
#Data Set

response = requests.get(url)
data = response.json()
pprint(data)

{'response': {'player_count': 340470, 'result': 1}}

In [38]:
#Have a list of the games (main data)
#Create a loop to get the top games played
game_id_df = pd.read_csv("Project_1_Steam.csv")
game_id_df


#App Ids

app_ids = []
game_id_df["APPID"]
#print(game_id_df["APPID"].unique())

app_ids = game_id_df["APPID"].tolist()
app_ids

#Player count

player_counts = []

#Loop
for id in app_ids:
    url = f"http://api.steampowered.com/{interface}/{method}/v{version}?appid={id}/?key={api_key}&format=json"
    response = requests.get(url).json()
    player_counts.append(response["response"]["player_count"])

In [40]:
#Dictionary
Player_Dic = {"app_ids":app_ids, "Player Count": player_counts}
game_df = pd.DataFrame(Player_Dic)
game_df

     app_ids  Player Count
0         10          5474
1         20            86
2         30           122
3         40             2
4         50            68
5         60             3
6         70           301
7         80           307
8         90             2
9         92            34
10       100            40
11       130            29
12       205             1
13       211            13
14       215             1
15       218          2083
16       219             4
17       220           445
18       240          2187
19       280            43
20       300           345
21       310             1
22       320           146
23       340            12
24       360            10
25       380            84
26       400           277
27       410             2
28       420            95
29       440         39377
..       ...           ...
417    16700            37
418    16720             2
419    16730             0
420    16810           138
421    16830             7
422    16900            15
423    17080            20
424    17100             2
425    17120             4
426    17140             1
427    17300            26
428    17330            11
429    17390           475
430    17410            31
431    17430            39
432    17440            39
433    17450           110
434    17460           354
435    17470            67
436    17480           199
437    17500            49
438    17505             1
439    17510             1
440    17515             1
441    17520            40
442    17525             1
443    17530             1
444    17550             6
445    17570            17
446    17600             1

[447 rows x 2 columns]